/* -----ブログ一覧のタイトル -----*/
h2 {
	font-size: 2rem;
	/* フォントサイズを大きく */
	color: rgb(25, 20, 13);
	text-align: center;
	/* テキストを中央寄せ */
	margin-top: 100px;
	/* 上にスペースを空ける*/
	margin-bottom: 1rem;
	/* 下にも余白を設ける */
	border-bottom: 3px solid grey;
	padding-bottom: 0.5rem;
	/* 下線と文字の間に少しスペースを確保 */
}

body {
	background: url("../images/bv.jpg") no-repeat center center fixed;
	/* 背景画像を中央に固定表示。繰り返しなし */
	background-size: cover;
	/* 画面いっぱいに背景画像を拡大表示（縦横比を保つ） */
}

/* --- ブログ登録ボタン --- */
.register-item {
	margin-top: 20px;
	text-align: center;
	/* ボタンを中央揃え */
	padding-bottom: 3rem;
	/* 下に余白を追加 */
}

.btn--gray,
a.btn--gray {
	color: #fff;
	background-color: rgba(117, 109, 105, 0.7);
	/* background-color: gray; */
	padding: 0.5rem 1rem;
	text-decoration: none;
	border: none;
	transition: 0.3s;
	font-family: Kiwi Maru;
}

/* ===== ボタンにマウスを乗せた時のスタイル ===== */
.btn--gray:hover,
a.btn--gray:hover {
	background-color: #5f5a4e;
	/* ホバー時に明るいオレンジに変更 */
	color: black;
	transform: translateY(-4px);
	/* ボタンを少し下に動かす */
	text-decoration: none;
	/* アンダーラインを消す */
}

a.btn--radius {
	border-radius: 6rem;
}

/* ボタン調整 */
.btn--gray {
	font-size: 1.1rem;
	padding: 0.75rem 2rem;
	border-radius: 30px;
	background-color: #EC6015;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* ----- ボタンのホバー効果 ----- */
.btn--gray:hover {
	background-color: #ffcd8f;
	/* 明るいクリーム色に変更 */
	color: #000;
	/* 文字を黒に */
}
