
/*========= 共通設定 ===============*/
img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

main {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

/*========= header ===============*/
header {
    background-color: rgba(255, 255, 255, .7);
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid black;
}

.nav-left img {
    height: 74px;
    padding: 0.5rem;
}

.nav-right {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

/*========= front ===============*/
h2 {
    font-family: Kiwi Maru;
    font-size: 1.5rem;
    text-align: center;
    color: #594A4E;
    font-weight: bold;
}

form {
    width: 90%;
    max-width: 600px;
    margin: 2rem auto;
}

table {
    width: 100%;
    border-spacing: 1rem;
}

th {
    text-align: right;
    color: #594A4E;
    font-family: Kiwi Maru;
    font-size: 1rem;
}

td input[type="text"],
td input[type="password"] {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    font-size: 1rem;
    color: #594A4E;
    font-family: Kiwi Maru;
    width: 250px;
}

td input[type="text"]:focus,
td input[type="password"]:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #71c7c8 inset;
}

.submit-button {
    text-align: center;
    margin-top: 2rem;
}

button.active_btn {
    background-color: #EC6015;
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 5px 0 #aaaaaa;
    transition: 0.3s;
}

button.active_btn:hover {
    background-color: #ffefcc;
    color: black;
}
