<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <link rel="stylesheet" th:href="@{/css/blog_list.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap}" rel="stylesheet">
</head>

<body>
    <header class="nav-header">
        <nav>
            <div>
                <ul class="nav-list">
					<li th:text="${accountName}"></li>
                    <li><a th:href="@{/blog/list}">ブログ一覧</a></li>
                    <li><a th:href="@{/account/logout}">ログアウト</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <article>
            <h2>ブログ一覧</h2>
            <section class="nav-search">
                <form action="/search" method="GET">
                    <input type="text" name="keyword" placeholder="キーワードを入力">
                    <button type="submit">検索</button>
                </form>
            </section>
            <section class="register-item">
                <div class="all-view-register__button">
                    <a th:href="@{/blog/register}" class="btn btn--gray btn btn--radius">ブログ登録</a>
                </div>
            </section>
            <ul class="blogs">
                <li>
                    <a href="">
                        <img src="" alt="">
                        <p></p><br>
                        <p></p>
                    </a>
                </li>
            </ul>
        </article>
        <footer>
            <small>&copy; 2025 LIANG CHAOHONG</small>
        </footer>
    </main>
</body>

</html>