<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ブログ一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/blog.css}">
	<link rel="stylesheet" th:href="@{/css/blog_list.css}">
	<link rel="stylesheet" th:href="@{/css/blog_list_custom.css}">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap}" rel="stylesheet">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap}"
		rel="stylesheet">
</head>

<body class="blog-list-page">
	<header class="nav-header">
		<div class="container">
			<div class="nav-list-wrapper">
				<ul class="nav-list">
					<li><a th:href="@{/blog/register}" class="btn btn--gray btn--radius">NEW BLOG</a></li>
					<li><a a th:href="@{/self-introduction}">自己紹介</a></li>
					<li th:text="${accountName}"></li>
					<li><a a th:href="@{/blog/list}">ブログ一覧</a></li>
					<li><a th:href="@{/account/logout}">ログアウト</a></li>
				</ul>
			</div>
			<h2>WELCOME TO MY BLOG</h2>
			<div class="nav-search">
				<form action="/search" method="GET">
					<input type="text" name="keyword" placeholder="キーワードを入力">
					<button type="submit">検索</button>
				</form>
			</div>
		</div>
	</header>
	
	<div class="nav-offset"></div>
	<main>
		<article>
			<ul class="blogs">
				<li th:each="blog:${blogList}">
					<a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
						<p>
							投稿日：
							<span th:text="${blog.formattedCreateAt}"></span><br>
							編集日：
							<span th:text="${blog.formattedUpdateAt}"></span>
						</p>
						<img th:src="@{/blog-img/{imagePath}(imagePath=${blog.blogImage})}" alt="">
						<p th:text="${blog.blogTitle}"></p><br>
						<p th:text="${blog.article}"></p>
					</a>
				</li>
			</ul>
		</article>
		<footer>
			<small>&copy; 2025 LIANG CHAOHONG</small>
		</footer>
	</main>
</body>

</html>